.cursos__Section {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.cursos__Container {
  max-width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 30px;
  margin: 41px 0px 13px 0px;
}

.group {
  display: flex;
  padding: 5px;
  gap: 10px;
  align-items: center;
  position: relative;
  width: 484px;
  height: 60px;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #adadad;
}

.input:focus,
input:hover {
  outline: none;
  border-color: #20adffa1;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 25px;
  height: 33px;
}

@media screen and (max-width: 768px) {
  .cursos__Section {
    min-height: 100vh;
  }

  .cursos__text {
    font-size: 22px;
    line-height: 28px;
    width: 80%;
  }
}

@media screen and (max-width: 420px) {
  .cursos__text {
    font-size: 18px;
    line-height: 22px;
    width: 100%;
  }
}
